<div class="header">
  <div class="logo">
    <h5>The Logo</h5>
  </div>
  <mat-list
    role="list"
    [ngClass]="toggle && isMobile ? 'toggle hideMenu text-center' : 'menu'"
  >
    <mat-list-item>about</mat-list-item>
    <mat-list-item>projects</mat-list-item>
    <mat-list-item>Get involved</mat-list-item>
    <mat-list-item>contacts</mat-list-item>
  </mat-list>
  <span class="links">
    <i class="fas fa-search"></i>
    <mat-divider [vertical]="true"></mat-divider>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-instagram"></i>
  </span>
  <button
    mat-icon-button
    color="warn"
    class="burger"
    (click)="toggleMenu()"
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
</div>
