.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(192, 186, 186);
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-size: 1.5vw;
    height: 7vh;
    background-color: rgb(55, 102, 133);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

/* note: adjust the center menu height */



.menu, .links li {
    list-style: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 8%;
}

.burger {
    display: none;
}

.line {
    color: rgb(214, 208, 208);
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(214, 208, 208);
    margin: 5px;
}

.toggle {
    transform: translateX(0%);
}


.hideMenu {
    display: none;
}

@media  screen and (max-width: 768px) {
    
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 29%;
        height: auto;
        width:30vw;
        top: 6vh;
        background-color: rgb(55, 102, 133);
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
        cursor: pointer;
    }

    

    .menu li {
        margin-top: 3vh;
        height: 10vh;
        align-items: center;
        /* margin-right: 50px; */
        /* opacity: 0; */
    }

    .links {
        width: 30%;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
} 

@media screen and (max-width: 1024px) and (min-width: 769px){
    .menu {
        width: 50%;
    }
    .links {
        width: 13%;
    }
}

@media screen and (min-width: 1024px){
    .menu {
        width: 45%;
    }
    .links {
        width: 15%;
    }
}

