<div class="landing-content">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../assets/imgs/pexels-matthias-zomer-339620.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption"></div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/imgs/pexels-denis-ngai-4483669.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/imgs/pexels-rodolfo-quirós-2219024.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Foster a Child</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Take a child within your ranks.</p>
    </mat-card-content>
    <button mat-raised-button color="warn">Get Started</button>
  </mat-card>

  <div class="action-bar">
    <h4>get involved</h4>
  </div>
</div>
