/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: rgb(214, 208, 208); */
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./assets/bg/vintage-wallpaper.png");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
html, body { height: 100%;}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@media  screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}